@font-face: {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'OpenSans Regular';
    font-display: swap;
    font-weight: 400;
}

@font-face: {
    src: url('../fonts/OpenSans-Bold.ttf');
    font-family: 'OpenSans Bold';
    font-display: swap;
    font-weight: 600;
}

@font-face: {
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-family: 'OpenSans Extra';
    font-display: swap;
    font-weight: 800;
}

body {
    margin: 0;
    font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;    
    display: flex;
    flex-wrap: wrap;
    }

.section-1 {
    width: 1579px;
    height: 668px;
    background-color: #e0e0e0;
}

.site-menu {
    display: flex;
    flex-shrink: 2;
    justify-content: center;
    background-color: #312f30;
    margin: 0px 164px;
}

.site-menu > a {
    justify-content: space-between;
    text-align: center;
    padding: 42px 25px 35px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.site-menu > a:hover {
    background-color: #ff3f40;
}

.intro-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 0 1 1249px;
    max-height: 400px;
    margin: 80px 166px 0 164px;;
}

.intro h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.intro p {
    font-size: 16px;
    margin-bottom: 58px;
    opacity: 0.7;
}

.contact-link {
    color: #ffffff;
    font-size: 18px;
    display: flex;
    background-color: #ff3f40;
    width: 227px;
    padding: 22px 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.intro-image {
    max-width: 531px;
    max-height: 396px;
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
    .intro {
    width: 50%;
        }
}

@media screen and (max-width: 700px) {
    .intro {
    width: 50%;
        }
}

@media screen and (max-width: 120px) {
    .intro-image {
    width: 50%;
        }
}

@media screen and (max-width: 1000px) {
    .page-one {
    flex: 1 1 100%;
        }
}

@media screen and (max-width: 1200px) {
    .site-menu {
    flex-shrink: 50%;
    justify-content: flex-start;
    margin: 10px 0px 0px 10px;
    }
}

@media screen and (max-width: 700px) {
    .site-menu {
    flex-shrink: 50%;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0px 0px 10px;
    }
}

@media screen and (max-width: 700px) {
    .site-menu a {
    padding: 5px 5px;
    font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .intro-wrapper {
    flex-wrap: wrap;    
    margin: 30px 0px 0px 50px;
        }
}

@media screen and (max-width: 700px) {
    .intro-wrapper {
    flex-wrap: wrap;
    max-width: 300px;  
    margin: 10px 0px 0px 10px;
        }
}

@media screen and (max-width: 700px) {
    .intro {
    width: 100%;
    margin: 0px 0px 20px 30px;
        }
}

@media screen and (max-width: 1200px) {
    .intro h1 {
    width: 100%;
    font-size: 35px;
    margin-bottom: 20px
        }
}

@media screen and (max-width: 1200px) {
    .intro p {
    width: 100%;
    font-size: 15px;
    margin-bottom: 40px;
        }
}

@media screen and (max-width: 700px) {
    .intro h1 {
    width: 100%;
    font-size: 30px;
    margin-bottom: 10px
        }
}

@media screen and (max-width: 700px) {
    .intro p {
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
        }
}

@media screen and (max-width: 1000px) {
    .contact-link {
    width: 50%;
        }
}

@media screen and (max-width: 700px) {
    .contact-link {
    width: 70%;
    font-size: 15px;
        }
}

@media screen and (max-width: 1200px) {
    .intro-image {
    max-width: 400px;
        }
}

@media screen and (max-width: 700px) {
    .intro-image {
    flex-shrink: 3;
    max-height: 200px;
    margin: 10px 10px;
        }
}

.body-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1579px;
    margin: 100px 0px 0px 166px;
    background-color: white;
}

.body-message {
    padding-right: 30px;
    width: 35%;
}

.body-message h1 {
   margin: 30px 0px;
   font-size: 42px;
   font-weight: 600;
   text-transform: uppercase; 
}

.body-message p {
    font-size: 16px;
}

.learn-more {
    margin-top: 60px;
    color: #ff3f40;
    font-size: 18px;
    display: flex;
    width: 227px;
    padding: 22px 0;
    border: solid;
    border-width: 2px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.our-services {
    display: flex;
    flex-wrap: wrap;
    width: 47%;
}

.element {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 30px 20px 52px 0px;
}

@media screen and (max-width: 1200px) {
    .body-wrap {
    flex-wrap: nowrap;
    margin: 10px 10px;
        }
}

@media screen and (max-width: 700px) {
    .body-wrap {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 10px;
        }
}

@media screen and (max-width: 1200px) {
    .body-message {
    width: 350px;
    margin: 10px 10px;
}
}

@media screen and (max-width: 700px) {
    .body-message h1 {
    font-size: 25px;
        }
}

@media screen and (max-width: 1200px) {
    .body-message h1 {
    font-size: 25px;
}
}

@media screen and (max-width: 1200px) {
    .body-message p {
    }
}

@media screen and (max-width: 700px) {
    .body-message p {
    font-size: 15px;
        }
}

@media screen and (max-width: 700px) {
    .learn-more {
    max-width: 100px;
    font-size: 15px;
    margin: 10px 10px;
        }
}

@media screen and (max-width: 1200px) {
    .our-services {
    width: 500px;
    flex-direction: column;
     }
}

@media screen and (max-width: 700px) {
    .our-services {
    max-width: 300px;
   flex-wrap: wrap;
        }
}

@media screen and (max-width: 1200px) {
    .element {
    width: 500px;
    padding: 10px 10px;
    margin: 0;
        }
}

@media screen and (max-width: 700px) {
    .element {
    width: 100%;
    margin: 0;
            }
}

@media screen and (max-width: 700px) {
    .element h1 {
    margin: 10px 10px;
        }
}

@media screen and (max-width: 700px) {
    .element p {
    font-size: 15px;
        }
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

hr.one {
    color: grey;
    width: 70%;
}

hr.two {
    background: red;
    width: 134px;
    height: 5px;
    border: none;
    margin: 33px 730px 100px 550px;
}

.section-3 {
    width: 1249px;
    margin: 100px 166px 100px 164px;
}

.Feature-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 1249px;
    margin-top: 100px;
}

.Feature-products h1 {
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.Featuere-products p {
    text-align: center;
    font-size: 16px;
   }

.web-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px 130px 40px 190px;
    justify-content: space-around;

}

.web-menu > a {
    padding-right: 40px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.web-menu > a:hover {
    color: #ff3f40;
    }

.Square-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 1249px;
    }

.Square {
    margin: 0px 15px 15px 0px;
    height: 297px;
    width: 297px;
    background-color: #5181ff;
    }

@media screen and (max-width: 1200px) {
    .section-3 {
    width: 50%;
    margin: 10px 10px;
        }
}

@media screen and (max-width: 700px) {
    .section-3 {
    width: 30%;
    margin: 0 0;
        }
}

@media screen and (max-width: 1200px) {
    .web-menu {
    margin: 10px 10px;
    padding: 0 0;
    max-width: 650px;
        }
}

@media screen and (max-width: 700px) {
    .web-menu {
    flex-direction: column;
    margin: 10px 10px;
    padding: 0 0;

        }
}

@media screen and (max-width: 1200px) {
    .web-menu a {
    margin: 10px 10px;
    padding: 0 0;
    font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    .web-menu a {
    padding: 5px 5px;
    margin: 0 0;
    font-size: 15px;
        }
}

@media screen and (max-width: 1200px) {
    .Feature-products {
    width: 300px;
    margin: 30px 10px;
    align-self: flex-start;
        }
}

@media screen and (max-width: 700px) {
    .Feature-products {
    width: 300px;
    margin: 30px 0px 0px 10px;
    align-self: flex-start;
        }
}

@media screen and (max-width: 1200px) {
    .Feature-products h1 {
    width: 50%;
    margin: 10px 10px;
    font-size: 35px;
        }
}

@media screen and (max-width: 1200px) {
    .Feature-products p {
    width: 50%;
    margin: 10px 10px;
        }
}

@media screen and (max-width: 700px) {
    .Feature-products h1 {
    width: 100%;
    font-size: 25px;
    text-align: left;
        }
}

@media screen and (max-width: 700px) {
    .Feature-products p {
    width: 100%;
    font-size: 15px;
    text-align: left;
        }
}

@media screen and (max-width: 1200px) {
    .Square {
    width: 150px;
    max-height: 150px;
        }
}

@media screen and (max-width: 700px) {
    .Square {
    width: 80px;
    max-height: 80px;
        }
}

@media screen and (max-width: 1200px) {
    .Square-wrapper {
    width: 700px;
        }
}

@media screen and (max-width: 700px) {
    .Square-wrapper {
    width: 380px;
    margin-left: 10px;
        }
}

.section-3 {
    width: 1249px;
    }

.our-team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.our-team h1 {
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.our-team p {
    font-size: 16px;
    margin: 0px 0px 35px 5px;
}

hr.three {
    background: red;
    width: 134px;
    height: 5px;
    border: none;
    margin-left: 0;
}

.scheme {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 1249px;
    margin: 50px 166px 100px 0px;
}

.big-one {
    display: flex;
    width: 315px;
    height: 435px;
    margin: 30px 70px 0px 0px;
    background-color: #ff3f40;
}

.special {
    display: flex;
    width: 880px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.special h1 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.special p {
    font-size: 16px;
    margin: 0px 0px 47px 5px;
}

.social {
    display: flex;
    flex-direction: row;
}

.social > a {
    font-size: 18px;
    font-style: italic;
    padding-right: 30px;
    text-decoration: none;
    color: black;
    margin-bottom: 48px;
}

.range {
    display: flex;
    width: 880px;
    flex-direction: row;
    justify-content: flex-start;    
}

.block {
    display: flex;
    width: 200px;
    height: 208px;
    margin: 0px 15px 0px 0px;
    background-color: #ff3f40;
    justify-content: center;
    align-content: flex-end;
}

.mini {
    position: absolute;
    height: 30px;
    width: 200px;
    margin-left: -5px;
    align-self: flex-end;
}

.mini p {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: #7f1f20;
    text-align: center;
    align-self: baseline;
}

@media screen and (max-width: 700px) {
    .our-team {
    margin-left: 10px;
        }
}

@media screen and (max-width: 700px) {
    .our-team h1 {
    font-size: 25px;
    width: 100%;
        }
}

@media screen and (max-width: 700px) {
    .our-team p {
    font-size: 15px;
    width: 100%;
        }
}

@media screen and (max-width: 1200px) {
    .scheme {
    width: 100%;
        }
}

@media screen and (max-width: 700px) {
    .scheme {
    width: 50%;
    margin: 20px 0px 30px 10px;
        }
}

@media screen and (max-width: 700px) {
    .scheme h1 {
    width: 50%;
    font-size: 25px;
    text-align: left;
    margin: 10px 10px;

        }
}

@media screen and (max-width: 700px) {
    .scheme p {
    font-size: 15px;
    width: 100%;
        }
}

@media screen and (max-width: 700px) {
    .our-team {
    width: 50%
        }
}

@media screen and (max-width: 1000px) {
    .big-one {
    width: 20%
        }
}

@media screen and (max-width: 700px) {
    .big-one {
    margin-right: 10px;
        }
}

@media screen and (max-width: 1000px) {
    .range {
    width: 100%
        }
}

@media screen and (max-width: 1000px) {
    .block {
    width: 20%
        }
}

@media screen and (max-width: 1000px) {
    .mini {
    width: 166px;
        }
}

@media screen and (max-width: 700px) {
    .mini {
    width: 79px;
        }
}

@media screen and (max-width: 700px) {
    .mini p {
    font-size: 15px;
        }
}

.section-4 {
    width: 1579px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1579px;
    min-height: 525px;
    background-color: #312f30;
    
}

.freebies {
    display: flex;
    height: 262px;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    }

.freebies h1 {
   font-size: 42px;
   font-weight: 600;
   text-align: center;
   margin: 150px 155px 0px 153px;
   color: white;
   }

.freebies p {
    font-size: 16px;
    color: white;
    text-align: center;
}

.email-line {
    height: 82px;
    width: 1000px;
    margin: 50px 0px 0px 391px; 
}

.email-address {
    height: 82px;
    width: 494px;
    background-color: white;
    font-size: 16px;
    padding: 0 30px;
    border: none;
}

.submit {
    background-color: #ff3f40;
    width: 227px;
    height: 82px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 0 0;
}

@media screen and (max-width: 700px) {
    .freebies {
    width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .freebies h1 {
    width: 50%;
    text-align: left;
    margin: 10px 10px;
        }
}

@media screen and (max-width: 1200px) {
    .freebies p {
    width: 50%;
    margin: 10px 10px;
    text-align: left;
    }
}

@media screen and (max-width: 700px) {
    .freebies h1 {
    width: 50%;
    text-align: left;
    margin: 10px 10px;
    font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    .freebies p {
    width: 50%;
    margin: 10px 10px;
    font-size: 15px;
    text-align: left;
    }
}

@media screen and (max-width: 1000px) {
    .email-line {
    margin: 10px 10px;
    width: 100%;
        }
}

@media screen and (max-width: 1200px) {
    .email-line {
    margin-left: 10px;
        }
}

@media screen and (max-width: 700px) {
    .email-address {
    max-width: 150px;
    max-height: 50px;
        }
}

@media screen and (max-width: 700px) {
    .submit {
    width: 150px;
    max-height: 50px;
        }
}

.section-5 {
    width: 1579px;
}

.request {
    display: flex;
    flex-direction: column;
    width: 753px;
    margin: 100px 0px 55px 165px;
}

.request h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 45px;
    }

.request p {
    font-size: 16px;
   }

hr.four {
    background: red;
    width: 134px;
    height: 5px;
    border: none;
    margin: 55px 35px 5px 0px;
}

.contact-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1549px;
    margin: 50px 0px 100px 165px;
}
.complex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 485px;
    width: 734px;
    margin: 0px 100px 150px 0px;

}

.contact-fields {
    max-height: 485px;
    width: 734px;
    margin-right: 100px;
}

.name-field {
    align-content: center;
    background-color: #e5e5e5;
    height: 71px;
    width: 342px;
    margin: 0px 45px 43px 0px;
    font-size: 16px;
    text-align: center;
    border: none;
}

.email-field {
    background-color: #e5e5e5;
    height: 71px;
    width: 342px;
    font-size: 16px;
    margin-bottom: 43px;
    text-align: center;
    border: none;
}

.message {
    background-color: #e5e5e5;
    height: 212px;
    width: 694px;
    font-size: 16px;
    border: none;
    padding: 40px 0px 0px 40px;
}

.send-link {
    background-color: #ff3f40;
    width: 731px;
    height: 75px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 43px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-self: last baseline;
    background-color: #312f30;
    height: 485px;
    flex: 0 1 580px;    
}


.contact-info h1 {
    padding: 141px 0px 0px 81px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 35px;
}

.contact-info p {
    padding-left: 81px;
    margin-top: 0;
    font-size: 16px;
    color: white;
    font-weight: normal;
    line-height: 35px;
}

@media screen and (max-width: 1200px) {
    .request {
    margin: 10px 10px;
        }
}

@media screen and (max-width: 700px) {
    .request h1 {
    width: 50%;
    font-size: 25px;
        }
}

@media screen and (max-width: 700px) {
    .request p {
    width: 50%;
    font-size: 15px;
        }
}

@media screen and (max-width: 1200px) {
    .contact-page {
    width: 50%;
        }
}

@media screen and (max-width: 1200px) {
    .contact-page {
    flex-wrap: wrap;
    width: 50%;
    margin: 10px 10px;
        }
}

@media screen and (max-width: 700px) {
    .contact-page {
    flex-wrap: wrap;
    width: 50%;
        }
}

@media screen and (max-width: 1200px) {
    .complex {
    flex-wrap: wrap;
        }
}

@media screen and (max-width: 700px) {
    .complex {
    flex-wrap: wrap;
        }
}

@media screen and (max-width: 700px) {
    .name-field {
    width: 50%;
        }
}

@media screen and (max-width: 700px) {
    .email-field {
    width: 50%;
        }
}

@media screen and (max-width: 700px) {
    .message {
    width: 50%;
        }
}

@media screen and (max-width: 700px) {
    .send-link {
    width: 50%;
        }
}

@media screen and (max-width: 1200px) {
    .contact-info {
    width: 50%;
    margin-top: -100px;
        }
}

@media screen and (max-width: 700px) {
    .contact-info {
    max-width: 357px;
    margin-top: 40px;
    max-height: 300px;
        }
}

@media screen and (max-width: 700px) {
    .contact-info h1 {
    width: 50%;
    padding: 10px 10px;
        }
}

@media screen and (max-width: 700px) {
    .contact-info p {
    width: 50%;
    padding: 10px 10px;
        }
}

footer {
    width: 1579px;
    height: 100px;
    margin: 100px 0px 0px 0px;
    background-color: #312f30;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright {
   color: #e0e0e0;
   opacity: 50%;
   width: 50%;
}

.social {
    display: flex;
    width: 200px;
}

.social > a {
    margin-bottom: 0px;
    padding: 10px;
    
}

.social img {
    opacity: 50%;
    align-items: center;
   
}

@media and (min-width: 750px); {
.footer {
    flex: 1 1 100%;
}
}
